.catCard {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2c2e2e;
  border-radius: 20px;
}
.catCardImg {
  height: 200px;
  width: 200px;
}

.catCountry {
  height: 64px;
}
.catImg {
  height: 200px;
  width: 200px;
}
.catImg img {
  object-fit: contain;
}
